@font-face {
    font-family: bianzhidai-COLR;
    src: url(assets/bianzhidai_COLR-back.otf);
}
@font-face {
    font-family: mathigon;
    src: url(assets/mathigon-notRegular.otf);
}
@font-face {
    font-family: basteleur-BOLD;
    src: url(assets/Basteleur-Bold.otf);
}
@font-face {
    font-family: Inter;
    src: url(assets/Inter-Regular.woff2);
}
body, html {
    font-family:Inter;
}
table{
    border: 2px solid rgb(126, 38, 38);
    border-collapse:collapse;
    margin:5px;
}
thead {
    background-color:blue;
}
button {
    margin: 5px 5px 100px 5px;
    padding:5px;
    border-radius:5px;
    font-size:20px;
    background-color:rgb(217, 163, 163);
}
input {
    border:2px solid rgb(126, 38, 38);
    font-family:"Comic Sans MS";
    width:50px;
}
header {
    background-color: #483d8b;
    height:90px;
}
header h1 {
    color:rgb(87, 143, 177);
    display:inline-block;
    -moz-user-select: none;
    user-select:none;
}
body, html {
    padding:0px;
    margin:0px;
}
#animContainer {
    margin:25px 10px;
    font-size: 0px;
    width:42px;
    display:inline-block;
    background:#403583;
}
#animContainer div{
    width:16px;
    aspect-ratio: 4;
    background:rgb(121, 201, 228);
    display:inline-block;
    transition: 1s;
}
.firsDiv {
    margin:2px 0px 2px 5px;
}
.secoDiv {
    margin:2px 5px 2px 0px;
}
#animContainer:hover #a11 {
    transform: scale(1.5, 0.5);
    animation: spin 1.6s linear 1.25s forwards infinite;
}
#animContainer:hover #a21 {
    transform: scale(1.5, 0.5);
    animation: spin 1.3s linear 1.25s forwards infinite;
}
#animContainer:hover #a12 {
    transform: rotate(90deg) scaleY(0.5);
}
#animContainer:hover #a22 {
    transform: rotate(90deg) scaleY(0.5);
}
#animContainer:hover #a13 {
    transform: rotate(90deg) scaleY(0.5);
}
#animContainer:hover #a23 {
    transform: rotate(90deg) scaleY(0.5);
}
#animContainer:hover #a14 {
    transform: scaleY(0.5);
}
#animContainer:hover #a24 {
    transform: scaleY(0.5);
}


@keyframes spin {
    0% {
        transform:rotate(0deg) scale(1.5, 0.5);
    }
    100%{
        transform: rotate(360deg) scale(1.5, 0.5);
    }
}

footer {
    position:fixed;
    bottom:0;
    font-size:10px;
    margin:100px 0 5px 5px;
    filter:opacity(75%);
    user-select: none;
    -moz-user-select: none;
}